#create-page,
#edit-page {
    position: relative;

    width: 500px;
    height: 76.8vh;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    background: #2c2c2c;
    box-shadow: 0px 0px 3px 0px #32485e, -1px -1px 1px #2c2c2c;
}

input[type="text"] {
    background: #d1cbcb;
    padding: 15px;
    padding-left: 20px;
    height: 20px;
    margin-top: 1px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px #c0c2c5, inset -1px -1px 1px white;
}

textarea {
    width: 100%;
    min-width: 10vw;
    min-height: 5em;
    border: 2px solid #789372;
    border-radius: 0.2em;
    font-size: 14px;
    border-bottom-color: #d1cbcb;
    background-color: #d1cbcb;
    border-right-color: #d1cbcb;
    margin-top: 2px;
    color: black;
    box-shadow: inset 1px 1px 1px #c0c2c5, inset -1px -1px 1px white;
}